# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user

# Build outputs
Debug/
Release/
x64/
x86/
out/
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# MSVC
*.obj
*.pch
*.pdb
*.ilk

# Executables
*.exe
*.dll
